<p>
  <strong>
    Comment by 
    <%= link_to parent_comment.user.name, user_url(parent_comment.user) %> 
    made 
    <%= time_ago_in_words(parent_comment.created_at)%> 
    ago
  </strong>
</p>
<p>
  <%= parent_comment.content %>
  <br>
  <%= link_to "See Comment", comment_url(parent_comment) %>
</p>
<ul>
  <% @all_comments[parent_comment.id].each do |comment|%>
    <%= render 'comments/comment', parent_comment: comment %>
  <% end%>
</ul>