<% provide(:title, @title) %>
<div class="container">
	<% if @users.any? %>

		<h1><%= @title %></h1>
		<table class="table table-hover">
        <thead>
          <tr>
            <th><%= @title %></th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |user| %>
            <tr>

              <td>
                <%= gravatar_for user, size: 25 %>
                <%= link_to user.name, user %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

	<% else %>

	<h1>No one likes you :(</h1>
	<p><%= link_to "Find someone that does!", users_path %></p>

	<% end %>
</div>