<%= provide(:title,@user.name) %>

<div class="container">
	<h1><%=@user.name %>
	<%= render 'follow_form' %>
	</h1>
	<h3>Interests</h3>
		<% @user.hobbies.each do |hobby| %>
        <%= link_to hobby do %>
            <div class="interests">
                <p><%= hobby.name %></p>
            </div>
        <% end %>
	<% end %>

</div>