<% provide(:title,@hobby.name) %>

<div class="container">
  <h1>
    <strong><%= @hobby.name %></strong>
  </h1>
  <p>
    <%= link_to 'Edit', edit_hobby_path(@hobby) if current_or_guest_user.admin? %></p>
  <p>
    <%= @hobby.description %>
  </p>
  <%= render 'follow_form'%>
  <%= render 'shared/post_list' %>
</div>