<% provide(:title,"Create a Post") %>
<div class="container">
	<h1>Create a Post</h1>
	<%= form_for(@post) do |f| %>
		<% if @hobbies.count == 0 %>
			<p>You need to follow a hobby to submit a post!</p>
		<% else %>

			<div class="form-group">
				<%= f.label :title %><br>
				<%= f.text_field :title , autofocus: true, class: "form-control"%>
			</div>

			<div class="form-group">
				<!-- <label for="post_hobby">Hobby</label><br> -->
				<%= f.label :hobby_id %><br>
				<%= f.select(:hobby_id,@hobbies, {}, class: "form-control") %>
	    </div>

	    <div class="form-group">
				<%= f.label :link %> <i>(optional)</i><br>
				<%= f.text_field :link , autofocus: true, class: "form-control"%>
			</div>

	    <div class="form-group">
				<%= f.label :content %><br>
				<%= f.text_area :content , autofocus: true, class: "form-control"%>
			</div>

			<%= render 'tags/tags' %>
			<br/><br/>
			<div class="actions">
  			<%= f.submit "Submit", class: "btn btn-primary" %>
			</div>

		<% end %>

	<% end %>

</div>