<div class="container">
	<% if @post.link.empty? %>
		<h1><%= @post.title %></h1>
	<% else %>
		<h1><%= link_to @post.title, @post.link.include?("http://") ? @post.link : "http://" + @post.link %></h1>
		<p>by <%= link_to @post.user.name, @post.user %></p>
	<% end %>
	<div class="well">
		<%= @post.content %>
	</div>

	<%= render 'comments/form' %>

	<h3>Comments [<%= @all_comments.count %>]</h3>
	
		<% @all_comments[nil].each do |comment|%>
    	<%= render 'comments/comment', parent_comment: comment %>
  	<% end%>

	
</div>