<div class="container">
	<h1>
		<% if @post.link.empty? %>
			<%= @post.title %>
		<% else %>
			<%= link_to @post.title, append_http(@post.link) %>
		<% end %>
	</h1>
	<p>
		by <%= link_to @post.user.name, @post.user %>
		submitted <%= time_ago_in_words(@post.created_at) %> ago 

		<% if owns_post?(@post) %>
			| 
			<%= link_to "Edit", edit_post_url(@post) %>
			|
			<%= link_to "Delete", post_url(@post), method: :delete,
																						 data: 
																						 	{ confirm: "Are you sure"} %>
		<% end%>
	</p>
	<p>
	  Score: <%= @post.score %> |
	  <%= link_to "upvote", upvote_post_url(@post), method: :post %> |
	  <%= link_to "downvote", downvote_post_url(@post), method: :post %>
	</p>

	<div class="well">
		<%= @post.content %>
	</div>

	<%= render 'comments/form' %>

	<h3>Comments [<%= @all_comments.count %>]</h3>
	
		<% @all_comments[nil].each do |comment|%>
    	<%= render 'comments/comment', parent_comment: comment %>
  	<% end%>

	
</div>